/* || boilerplate */

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
}

@font-face {
  font-family: "Roboto";
  src: url(../media/fonts/RobotoSlab-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Brandon";
  src: url(../media/fonts/Brandon_bld_it.otf);
}

body {
  background-color: var(--dark-background);
  color: var(--dark-fontColor);
  font-family: "Barlow", sans-serif;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

/* || nav */
header {
  position: sticky;
  top: -1px;
}

.flexWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding-left: 0;
}

.flexWrapper li {
  margin-right: calc(0.1em + 5vw);
  font-size: calc(0.1em + 1.5vw + 0.5vh);
}

.flexWrapper li:first-child {
  margin-right: auto;
}

.flexWrapper img {
  max-width: 100%;
}

.imgWrapper {
  width: calc(60px + 2vw);
  height: calc(60px + 2vw);
  display: inline-block;
}

header a {
  text-decoration: overline;
  text-decoration-thickness: 3px;
  font-family: "Roboto", serif;
}

header a:link,
header a:visited {
  color: var(--dark-fontColor);
}

header a:hover {
  color: var(--dark-fontColor);
}

.flexWrapper li:nth-child(2) a {
  color: #fd87ff;
}
.flexWrapper li:nth-child(3) a {
  color: #3674ff;
}
.flexWrapper li:nth-child(4) a {
  color: #bff29b;
}
.flexWrapper li:nth-child(5) a {
  color: var(--dark-fontColor-header);
}
.flexWrapper li:nth-child(5) {
  margin: 0;
}

.flexWrapper li:nth-child(2) a:hover,
.flexWrapper li:nth-child(3) a:hover,
.flexWrapper li:nth-child(4) a:hover,
.flexWrapper li:nth-child(5) a:hover {
  color: white;
}

.navPortfolio {
  text-decoration: none;
}

/* || mobile nav */
.mobileContainer {
  height: var(--button-dimension);
  position: absolute;
  font-family: "Roboto", serif;
  overflow: hidden;
}

.noOverflow {
  overflow: hidden;
}

.makeMobileWork {
  height: 100vh;
}

.menuButton {
  position: absolute;
  width: var(--button-dimension);
  height: var(--button-dimension);

  border-radius: 0 0 0 50%;
  border: 0;

  background-color: white;
  color: black;

  top: 0;
  right: 0;

  transition: 0.2s ease-out all;

  font-family: "Roboto", serif;
  font-size: 1rem;
}

.smallDimensions {
  width: var(--button-smallDimension);
  height: var(--button-smallDimension);
}

.navButtons {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  transition: 0.3s ease-out all;

  margin: 0;
  padding: 0;

  transform: translate(0%);
}

.navButtons li:nth-child(n) {
  display: flex;
  justify-content: center;
  align-items: center;

  height: calc(1 / 3) * 100%;
  width: 100%;

  list-style: none;
  background-color: rgba(0, 0, 0, 0.308);

  letter-spacing: 1px;
}

.navButtons li a {
  font-size: clamp(calc(1rem + 1vw + 1vh), calc(1rem + 2vw + 2vh), 6rem);
}

.navButtons li a span {
  font-size: calc(1rem + 0.5vw + 0.5vh);
}

.navButtons li:first-child a {
  background-color: rgba(253, 135, 255, 0.9);
  color: white;
}
.navButtons li:nth-child(2) a {
  background-color: rgba(54, 116, 255, 0.9);
  color: white;
}
.navButtons li:nth-child(3) a {
  background-color: rgba(191, 242, 155, 0.9);
  color: white;
}
.navButtons li:nth-child(4) a {
  background-color: rgba(255, 117, 1, 0.9);
  color: white;
}

.navButtons li:nth-child(n + 3) {
  width: 50%;
}

.navButtons li:last-child {
  width: 50%;
}

.navButtons a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  width: 100%;
  height: 100%;
}

.placeOffScreen {
  transform: translate(110%);
}

/* || main */

body {
  margin: 0 5vw;
}

main h1 {
  text-align: center;
}

.inbetween {
  display: grid;
  grid-template-columns:
    calc((1 / 8) * 100%)
    calc((7 / 8) * 100%);

  height: auto;
  margin-top: 5vh;

  background-color: grey;
}

.inbetween .col {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: white;
  color: black;
}

.inbetween .col1 {
  justify-content: space-between;
}

.inbetween .col1 h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Brandon, serif;
  height: 30%;
  width: 100%;
  background-color: var(--inbetween-blue);
  color: var(--inbetween-yellow);

  font-size: calc(2vw + 2vh + 0.6rem);
  padding: 60px;
}

.inbetween .col1 > p {
  text-align: center;
  height: 40%;
}

.inbetween .col1 > ul {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.inbetween .col1 > ul li {
  font-size: calc(1vw + 0.8vh + 0.2rem);
}

.inbetween .col1 div {
  background-color: var(--inbetween-blue);
  width: 100%;
}

.inbetween .col1 div h3 {
  position: absolute;
  transform: scale(0);
  color: white;
}

.inbetween .col1 div a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inbetween .col1 div:hover {
  background-color: rgb(22, 22, 22, 0.5);
  transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.inbetween .col1 div:hover h3 {
  transform: scale(1);
}

/* || ib COLUMN 2 */
.inbetween .col2 > div {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url("../media/in-betweenSite.png");
  display: flex;
  align-items: center;
  justify-content: center;
}

.inbetween .col2 h3 {
  background-color: rgba(0, 0, 0, 0.7);
  padding: calc(2vw + 2vh);

  text-align: center;
  font-size: 4rem;

  transition: 0.1s all ease;
}
.inbetween .col2 h3:hover {
  padding: calc(2.5vw + 2.5vh);
}

.inbetween .col2 h3 a {
  display: block;
  padding: calc(2vw + 2vh);
}

.inbetween .col2 h3 a:link {
  color: white;
}

.inbetween .col2 h3 a:visited {
  color: white;
}

.inbetween .col2 h3 a:hover {
  color: var(--inbetween-blue);
}

.inbetween .col2 h3 a:active {
  color: var(--inbetween-yellow);
}

/* .inbetween .col2 h2 {
  display: flex;
  justify-content: center;
  align-items: center;

  transform: scale(0);
  position: absolute;

  height: 100%;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.9);
  color: white;

  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.inbetween .col2:hover h2 {
  transform: scale(1);
}

.inbetween .col2 h2 a:link {
  color: white;
  font-size: 3rem;
}

.inbetween .col2 h2 a:visited {
  color: white;
}
.inbetween .col2 h2 a:hover {
  color: var(--inbetween-blue);
  font-size: 4rem;

  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
} */

/* || media queries */

@media screen and (min-width: 481px) {
  .mobileContainer {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .flexWrapper li:nth-child(n + 2) {
    display: none;
  }
  body {
    margin: 0 0 0 0;
  }

  nav {
    height: 12vh;
    transition: 0.65s all ease-out;
  }

  main {
    margin: 0 5vw 0 5vw;
  }

  .flexWrapper {
    justify-content: center;
    margin: 0;
  }

  .flexWrapper li:first-child {
    margin-right: unset;
    position: absolute;
    z-index: 1;
    top: 10px;
    background-color: var(--dark-background);
    rotate: 45deg;

    border-radius: 20%;
  }

  .flexWrapper li:first-child img {
    rotate: -45deg;
  }
}

@media (prefers-reduced-motion) {
  *,
  ::before,
  ::after {
    transition: all 0s;
  }
}

@media screen and (max-width: 1020px) {
  .inbetween {
    grid-template-columns: 100%;
  }

  .inbetween .col1 {
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: normal;
  }

  .col2 {
    height: 30vh;
  }
}
